/.vscode/
*__pycache__/
~$*.xlsx
~$*.xls
*.ipynb_checkpoints/
*.ipynb
/conf/
/conf/rsa/
/conf/conn/
/log/
*.log
usrpath_backup_*.txt
/res/pro/
/bin/*.py
!template.*
!bin/main.py
!logging.yaml
!template_post.py
/rsa/